fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
xgboost
joblib
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
pydantic
email-validator
pillow
opencv-python-headless
matplotlib
reportlab
PyPDF2
python-docx
Faker
alembic
pytest
httpx
